<% if product.inventory_count.positive? %>
  <div class="stock-status in-stock">
    Available for purchase
  </div>
<% else %>
  <div class="stock-status out-of-stock">
    Out of stock. Sign up below to be notified when available.
  </div>

  <%= form_with model: [product, Subscriber.new], local: true do |form| %>
    <div class="subscribe-form">
      <%= form.email_field :email, placeholder: "your@email.com", required: true %>
      <%= form.submit "Notify me" %>
    </div>
  <% end %>
<% end %>
